{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}" />
    <script src="{% static 'scripts/index.js' %}"></script>
    <meta name="description" content="Description of the page content" />
  </head>
  <body>
    <h1>Quadros</h1>
    <div class="content-cards">
      {% for list in list %}
      <div class="vertical-list">
        <h2 class="list-name">{{ list.name }}</h2>
        <div class="cards-list">
          {% for card in list.card_set.all %}
          <div class="card-main">
            <div class="header-card">
              <div class="user-info">
                <img
                  src="{% static 'assets/userImage.svg' %}"
                  alt="logo"
                  height="25px"
                  width="25px"
                />
                <p>{{ card.user }}</p>
              </div>
              <div class="div-hours">
                <img
                  src="{% static 'assets/iconClock.svg' %}"
                  alt="logo"
                  height="16px"
                  width="16px"
                />
                <p>há {{ card.delivery_date|time:"H:i" }}</p>
              </div>
            </div>
            <div class="content-description">
              <h3 class="title-card">{{ card.title }}</h3>
              <p class="description">{{ card.description }}</p>
            </div>
            <div class="div-labels">
              <div class="label" style="background-color: #ffb1b1">
                <p>{{ card.get_priority_display }}</p>
              </div>
              <div class="label" style="background-color: #b1d3ff">
                <p>{{ card.epic_link }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="add-card" id="openModalBtn">
          <img
            src="{% static 'assets/iconPlus.svg' %}"
            alt="logo"
            height="20px"
            width="20px"
          />
          Novo
        </button>
      </div>
      {% endfor %}
    </div>
    <div id="myModal" class="modal">
      <!-- Conteúdo do modal -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Algum texto no Modal..</p>
      </div>
    </div>
  </body>
</html>
