<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Description of the page content" />
        <title>Base Html</title>
        <link rel="stylesheet" href="styles.css" />
        <link rel="icon" href="Logo.svg" type="image/x-icon" />
    </head>
    <body>
        <main>
            <section class="container-login">
                <div class="div-logo">
                    <img src="LogoText.svg" alt="logo" height="auto" width="auto" />
                </div>
                <form class="form-post">
                    <div class="input-container">
                        <p>Email</p>
                        <input type="email" name="email" placeholder="Digite seu email..." />
                    </div>
                    <div class="input-container">
                        <p>Senha</p>
                        <input type="password" name="password" placeholder="Digite sua senha..." />
                    </div>
                    <div class="div-options-form">
                        <div class="option-remember">
                            <input type="checkbox" name="remember" id="remember" />
                            <label for="remember">Lembrar de mim</label>
                        </div>
                        <div class="option-lost">
                            <a href="#">Esqueceu sua senha?</a>
                        </div>
                    </div>
                    <button class="button-submit" type="submit">ENTRAR</button>
                </form>
                <p class="not-account">
                    Ainda não tem conta? <a href="#">Cadastre-se</a>
                </p>
            </section>
        </main>
    </body>
</html>
